In [1]:
import numpy as np
import pandas as pd

met_df = pd.read_csv('../data/raw/met_objects.txt', low_memory=False)
met_df.columns = (met_df.columns.str.strip()
                  .str.lower()                
                  .str.replace(' ', '_')       
                  .str.replace('[^a-z0-9_]', '')  
)

display(met_df.head())
print(met_df.shape)

,object_number,is_highlight,is_timeline_work,is_public_domain,object_id,gallery_number,department,accessionyear,object_name,title,...,river,classification,rights_and_reproduction,link_resource,object_wikidata_url,metadata_date,repository,tags,tags_aat_url,tags_wikidata_url
0,1979.486.1,False,False,False,1,NaN,The American Wing,1979,Coin,One-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/1,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
1,1980.264.5,False,False,False,2,NaN,The American Wing,1980,Coin,Ten-dollar Liberty Head Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/2,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
2,67.265.9,False,False,False,3,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/3,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
3,67.265.10,False,False,False,4,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/4,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN
4,67.265.11,False,False,False,5,NaN,The American Wing,1967,Coin,Two-and-a-Half Dollar Coin,...,NaN,NaN,NaN,http://www.metmuseum.org/art/collection/search/5,NaN,NaN,"Metropolitan Museum of Art, New York, NY",NaN,NaN,NaN

(484956, 54)

In [3]:
met_df = met_df.drop(columns = ['river', 'state', 'county', 'metadata_date',
                               'gallery_number', 'object_id', 'rights_and_reproduction',
                               'object_wikidata_url', 'tags_aat_url', 'tags_wikidata_url',
                               'repository'])
met_df.isna().sum()

object_number               0
is_highlight                0
is_timeline_work            0
is_public_domain            0
department                  0
accessionyear            3862
object_name              2266
title                   28803
culture                276766
period                 393813
dynasty                461755
reign                  473720
portfolio              458442
constituent_id         202443
artist_role            202443
artist_prefix          202443
artist_display_name    202443
artist_display_bio     204533
artist_suffix          202491
artist_alpha_sort      202443
artist_nationality     202443
artist_begin_date      202443
artist_end_date        202443
artist_gender          378474
artist_ulan_url        257515
artist_wikidata_url    260754
object_date             13431
object_begin_date           0
object_end_date             0
medium                   7215
dimensions              75058
credit_line               651
geography_type         424997
city                   452202
country                408949
region                 453456
subregion              462813
locale                 469217
locus                  477438
excavation             468385
classification          78717
link_resource               0
repository                  0
tags                   292501
dtype: int64

In [53]:
met_df['subregion'].value_counts()

subregion
Lisht North         3026
Deir el-Bahri       3010
Malqata             2527
Asasif              1496
Southern Asasif     1310
                    ...
Qau                    1
Tall-i Shogha          1
Luxor                  1
Abu Rawash             1
Amarna/Akhetaten       1
Name: count, Length: 371, dtype: int64

In [ ]:
met_df.dtypes

In [ ]:
met_df['accession_year'] = pd.to_numeric(met_df['accessionyear'], errors='coerce')